@import "assets/reset.scss"; /* Import reset.css */

body {
  padding-top:50px;
  background-color:rgb(17, 15, 15);
}

.hidden {
  display:none;
}

.full_width_line {
  flex-basis: 100%;
}

.memory_game {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  width:1200px;
  min-height:80vh;
  margin:0 auto;
  background-color: rgb(19, 51, 19);
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding:20px 20px;
  border-radius:10px;
}

.btn {
  justify-self:center;
  padding:8px 100px;
  cursor:pointer;
  margin:0 auto;
  border-radius:15px;
  border: none;
  font-weight: 600;
  font-size:20px;
  background-color:rgb(24, 24, 24);
  color:#FFF;
  &:hover {
    cursor:grab;
    opacity:0.9;
  }
}

.reset_button {
  cursor:pointer;
  &:hover {
    opacity:0.8;
  }
}

.card {
  width:200px;
  height:300px;
  font-size:96px;
  text-align:center;
  line-height:300px;
  cursor:pointer;
  border-radius:10px;
  &:hover {
    border:1px solid transparent;
  }
}

.card--back {
  background-image: url(assets/images/card_back.jpg);
  background-repeat: cover;
  background-size: 200px 300px;
}

.card--front {
  background-color: rgb(206, 199, 199);
}

.footer {
  display:flex;
  align-self:end;
  justify-content:space-evenly;
  width:100%;
  line-height:30px;
  border-radius:7px;
  background-color:rgb(24 24 24);
  padding:10px 10px;
  font-size:30px;
  color:#FFF;
}

.number_container {
  display:inline-block;
  background-color:rgb(36, 49, 49);
  padding: 0 10px;
  border-radius:10px;
}