@import "assets/reset.scss"; /* Import reset.css */

body {
  padding:30px 20px 30px 20px;
  background-color:rgb(17, 15, 15);
}

.hidden {
  display:none;
}

.full_width_line {
  flex-basis: 100%;
}

.memory_game {
  position:relative;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  min-height:calc(100vh - 60px);
  margin:0 auto;
  background-color: rgb(7 7 8);
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding:20px 20px;
  border-radius:10px;
}

.btn {
  align-self:end;
  justify-self:center;
  padding:8px 100px;
  cursor:pointer;
  margin:0 auto;
  border-radius:15px;
  border: none;
  font-weight: 600;
  font-size:20px;
  background-color:rgba(27, 150, 236, 0.5);
  color:#FFF;
  &:hover {
    cursor:pointer;
    opacity:0.7;
  }
}

.reset_button {
  min-width:30px;
  cursor:pointer;
  &:hover {
    opacity:0.8;
  }
}

.card {
  width:200px;
  height:300px;
  font-size:142px;
  text-align:center;
  line-height:300px;
  cursor:grab;
  border-radius:10px;
  &:hover {
    border:1px solid transparent;
  }
}

.card--back {
  background-image: url(assets/images/card_back.jpg);
  background-repeat: cover;
  background-size: 200px 300px;
}

.card--front {
  background-color: rgb(206, 199, 199);
}

.footer {
  display:flex;
  align-self:end;
  justify-content:space-evenly;
  width:100%;
  line-height:30px;
  border-radius:7px;
  background-color:rgb(24 24 24);
  padding:10px 10px;
  font-size:30px;
  color:#FFF;
}

.number_container {
  display:inline-block;
  background-color:rgb(36, 49, 49);
  padding: 0 10px;
  border-radius:10px;
  border: 1px dotted white;
}

.completed {
  position:absolute;
  top:300px;
  margin: 0 auto;
  font-size: 46px;
  color:rgb(126, 122, 122);
  font-weight:500;
}